*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    background-color: orange;
    font-family: 'PT Sans', sans-serif;
}

nav ul{
    position: absolute;
    top: 30px;
    right: 10px;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px 15px;
    border-radius: 50%;
    margin-left: 20px;
}